.shareSection {
  margin-top: 1.5rem;
}

.twitterButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-twitter);
  border-color: var(--color-twitter);
  border-style: solid;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color .2s, color .5s, color .2s;
}

.twitterButton:hover {
  color: var(--color-twitter-hover);
  border-color: var(--color-twitter-hover);
  transition: border-color .2s, color .5s, color .2s;
}

.twitterButton span {
  margin-left: 0.2em;
  margin-right: 0.35em;
}
