.button {
  margin-left: .5rem;
  margin-right: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;

  border-style: solid;
  border-width: 2px;

  min-width: 10rem;
  text-align: center;

  font-size: 1.5rem;
  cursor: pointer;
}
.button[data-is-selected=true] {
  color: #E0E3E7;
}
.button[data-is-selected=false] {
  background-color: transparent;
  transition: background-color .5s, color .5s border-color .5s;
}
.button[data-is-selected=false]:hover {
  color: #E0E3E7cd;
}


.allButton {
  border-color: var(--color-all-button);
}
.allButton[data-is-selected=true] {
  background-color: var(--color-all-button);
}
.allButton[data-is-selected=false] {
  color: var(--color-all-button);
}
.allButton[data-is-selected=false]:hover {
  background-color: rgba(var(--color-all-button-rgb), .75);
  border-color: rgba(var(--color-all-button-rgb), .25);
}


.blogButton {
  border-color: var(--color-blog-button);
}
.blogButton[data-is-selected=true] {
  background-color: var(--color-blog-button);
}
.blogButton[data-is-selected=false] {
  color: var(--color-blog-button);
}
.blogButton[data-is-selected=false]:hover {
  background-color: rgba(var(--color-blog-button-rgb), .75);
  border-color: rgba(var(--color-blog-button-rgb), .25);
}


.novelButton {
  border-color: var(--color-novel-button);
}
.novelButton[data-is-selected=true] {
  background-color: var(--color-novel-button);
}
.novelButton[data-is-selected=false] {
  color: var(--color-novel-button);
}
.novelButton[data-is-selected=false]:hover {
  background-color: rgba(var(--color-novel-button-rgb), .75);
  border-color: rgba(var(--color-novel-button-rgb), .25);
}

.musicButton {
  border-color: var(--color-music-button);
}
.musicButton[data-is-selected=true] {
  background-color: var(--color-music-button);
}
.musicButton[data-is-selected=false] {
  color: var(--color-music-button);
}
.musicButton[data-is-selected=false]:hover {
  background-color: rgba(var(--color-music-button-rgb), .75);
  border-color: rgba(var(--color-music-button-rgb), .25);
}

.streamButton {
  border-color: var(--color-stream-button);
}
.streamButton[data-is-selected=true] {
  background-color: var(--color-stream-button);
}
.streamButton[data-is-selected=false] {
  color: var(--color-stream-button);
}
.streamButton[data-is-selected=false]:hover {
  background-color: rgba(var(--color-stream-button-rgb), .75);
  border-color: rgba(var(--color-stream-button-rgb), .25);
}
