:root {
  --color-text: #E0E3E7;
  --color-background: #0a1929;

  --color-all-button: #c62828;
  --color-all-button-rgb: 198, 40, 40;

  --color-blog-button: #009688;
  --color-blog-button-rgb: 0, 150, 136;

  --color-novel-button: #ab47bc;
  --color-novel-button-rgb: 171, 71, 188;

  --color-music-button: #6d4c41;
  --color-music-button-rgb: 109, 76, 65;

  --color-stream-button: #1976d2;
  --color-stream-button-rgb: 25, 118, 210;

  --color-twitter: #1d9bf0;
  --color-twitter-hover: #1a8cd8;

  --color-email: #bdbdbd;
  --color-email-hover: #11253b;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: '-apple-system','BlinkMacSystemFont','"Hiragino Kaku Gothic ProN"','"Hiragino Sans"','Meiryo','sans-serif';
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
