.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.article {
  max-width: 50%;
  margin-top: 2rem;
}

.article {
  white-space: pre-line;
}

.article a {
  text-decoration: underline;
}

.article p,
.article h1,
.article h2,
.article h3,
.article h4 {
  margin-block-end: 0;
}

.article p {
  margin-block-start: 0;
}

.article h1 {
  text-decoration: underline;
  text-underline-offset: .5em;
  font-size: 2em;
  margin-top: 0;
}

.article pre {
  border-style: solid;
  border-color: white;
  padding: 1.5em;
}

.article blockquote {
  margin-inline-start: 1.5rem;
  border-left: 4px solid #f2f2f2;
  padding-left: 1rem;
}

.linkSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
}

.linkSection a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .article {
    max-width: 75%;
  }
  .linkSection {
    width: 75%;
  }
}

@media screen and (max-width: 750px) {
  .article {
    max-width: 90%;
    font-size: .9rem;
  }
  .linkSection {
    width: 90%;
    font-size: .9rem;
  }
}

.twitterButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-twitter);
  border-color: var(--color-twitter);
  border-style: solid;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color .2s, background-color .2s;
}

.twitterButton:hover {
  background-color: var(--color-twitter-hover);
  border-color: var(--color-twitter-hover);
  transition: border-color .2s, background-color .2s;
}

.twitterButton span {
  margin-left: 0.2em;
  margin-right: 0.35em;
}
