.contentsTable {
  font-size: 1.5rem;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-color: #E0E3E7;
  border-bottom: dashed;
  margin-bottom: 3rem;
}

.contentsTable th,
.contentsTable td {
  height: 5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.tableBodyRow td {
  text-align: center;
  border-top: dashed;
}

.contentsTable tbody tr {
  cursor: pointer;
}

.contentsTable tbody tr:hover {
  text-decoration: underline;
}

.tableDataGenre {
  border-style: solid;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  white-space: nowrap;
}

.tableDatablog {
  border-color: var(--color-blog-button);
  color: var(--color-blog-button);
}

.tableDatanovel {
  border-color: var(--color-novel-button);
  color: var(--color-novel-button);
}

.tableDatamusic {
  border-color: var(--color-music-button);
  color: var(--color-music-button);
}

.tableDataarticle {
  border-color: var(--color-article-button);
  color: var(--color-article-button);
}

@media screen and (max-width: 1000px) {
  .contentsTable {
    font-size: 1.2rem;
  }  
}

@media screen and (max-width: 900px) {
  .contentsTable {
    font-size: 1.1rem;
  }  
  .contentsTable th,
  .contentsTable td {
    height: 4rem;
  }
  .tableDataGenre {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .contentsTable {
    font-size: 1rem;
  }  
  .tableDataGenre {
    padding: 0.5rem;
    font-size: .75rem;
  }}

@media screen and (max-width: 700px) {
  .contentsTable {
    font-size: .9rem;
  }  
}

@media screen and (max-width: 600px) {
  .contentsTable {
    font-size: .8rem;
  }  
  .tableDataGenre {
    padding: 0.5rem;
    font-size: .75rem;
  }
}
